* {
    margin: 0;
    padding: 0;

}

nav h1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2px bold;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    background-color: purple;
    color: white;
    padding: 20px;
    color: orange;

}

nav {}

nav ul li {
    list-style: none;
    margin-top: 5px;

}

nav ul li a {
    margin-inline: 20px;
}

nav ul li i {
    margin-inline: 15px;
    font-size: 20px;
}

nav ul li button {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
    border-radius: 5px;

}

nav ul li button:hover {
    background-color: white;
}

nav ul li a:hover {
    color: white;
    cursor: pointer;
    border-bottom: 2px solid;

}

.registration form {
    justify-content: space-around;
    background-color: white;
    width: 300px;
    height: 400px;
    padding: 2px 70px;
    margin: 100px auto 0;
    border-radius: 20px;

}

.input-name input {

    padding: 10px 100px;
    background-color: orangered;
    color: white;

}

.input button {
    color: white;
    background-color: blue;
}

.input input {
    margin-bottom: 2px;
    padding: 0px 20px;
}

.registration form h3 {
    text-align: center;
}

.registration form h2 {
    text-align: center;
}

.registration form h4 {
    text-align: center;
}

.btn-div button {
    padding: 5px 50px;

}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: purple;
}

.main img {
    margin-top: 80px;
    width: 60%;
}

.byjus h1 {
    font-size: 25px;


}

.byjus {

    text-align: center;

}

.card1 h3 {
    position: relative;
    text-align: center;

}

.learn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;

}

.learn .card {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    background-color: rgb(249, 239, 239);
    border-radius: 5px;
    text-align: center;

}

.learn .card img {
    width: 50%;

}

.learn .card h2 {
    margin-top: 45px;
    color: rgb(164, 28, 164);
    font-size: 30px;

}

.prep {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(245, 241, 241);
    margin-top: 50px;

}

.prep .card1 {
    margin-inline: 30px;
    text-align: center;
}

.Prep h1 {
    text-align: center;
    background-color: rgb(91, 91, 243);
}

.card1 img {
    padding: 25px;
}

.card1 button {
    width: 150px;
    height: 40px;
    background-color: rgb(164, 28, 164);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.ad {
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.learner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}

.learner .card2 img {

    width: 70%;
}

.learner .card2 {

    text-align: center;
}

.head h1 {
    text-align: center;
    font-size: 35px;
    padding: 30px;
}

.num {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.parent .pr p {

    font-size: 22px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    color: white;
    background-color: purple;
    padding: 40px;



}

.footer .list ul li h2 {
    color: orange;
    justify-content: space-around;

}

.list ul li {
    list-style: none;

}